body {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
}

svg {
  width: 100%;
}

path {
  fill: rgb(152, 204, 255); // the background color
  color: green;
}

circle {
  stroke: red;
  fill: rgba(0, 0, 0, 0.2);
}

.country {
  stroke: rgba(0, 0, 0, 0.1);
  fill: white;
}

circle:hover {
  stroke-width: 2px;
}

.d3-tip {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  line-height: 1;
  padding: 7px;
  background: black;
  color: lightgray;
  border-radius: 20px;
}