:root {
  --sea-color: rgb(152, 204, 255);
}

body {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--sea-color);
}

svg {
  width: 100%;
  position: absolute;
  bottom: 0;
}

path {
  fill: var(--sea-color); // the background color
  color: green;
}

circle {
  stroke: #303030;
  fill: rgba(0, 0, 0, 0.2);
}

.country {
  stroke: rgba(0, 0, 0, 0.1);
  fill: white;
}

circle:hover {
  stroke-width: 2px;
}

.d3-tip {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 1.2em;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  text-align: right;
  opacity: 0.9;
  z-index: 999;
  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(213, 55, 55, 0);
    border-top-color: rgba(0, 0, 0, 0.8);
    border-width: 10px;
    margin-left: -10px;
  }
}

.fill {
  position: absolute;
  bottom: 0;
}

.cityName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cityPrice {
  margin-bottom: 5px;
}

.header {
  background-color: #98ccfc;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.header-title {
  background: black;
  font-size: 23px;
  width: 400px;
  padding: 10px;
}

.header-content {
  background: black;
  font-size: 15px;
  padding: 4 10px;
  z-index: 100;
  color: rgba(255, 255, 255, 0.9);
  a {
    color: #98ccfc;
    &:hover,
    &:active,
    &:focus {
      color: #98ccfc;
    }
  }
}

.footer {
  position: absolute;
  bottom: 50px;
  z-index: 100;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 12px;
  a {
    color: black;
    &:hover,
    &:active,
    &:focus {
      color: black;
    }
  }
}
